body, html {
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    flex-direction: column;
}

header {
    display: flex;
    height: 60px;
    width: calc(100vw - 160px);
    background-color: #fff;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

.logo-grid {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pag-grid {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    margin-right: 50px;
}

.pag-grid h1 {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 14px;
    color: #ff0000;
}

.pag-grid h2 {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 14px;
    color: #000;
}

.logo-grid img {
    margin-left: 50px;
    height: 50px;
    width: 50px;
}





main {
    height: calc(100vh - 60px);
    width: calc(100vw - 160px);
    margin-right: 80px;
    margin-left: 80px;
}

.text-grid   {
    width: 100%;
    height: 300px;
    background-image: url("../data/img/img_0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title-text {
    font-family: "Lavishly Yours", cursive;
    font-weight: 700;
    font-size: 44px;
    color: #fff
}

.contact {
    background-color: #ff0000;
    border-radius: 25px;
    border: 0;
    height: 30px;
    width: 150px;
    color: #fff;
}

.desc {
    background-image: url(../data/img/texture_black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc img {
    height: 100px;
    width: 100px
}

.title-desc {
    font-family: "Lavishly Yours", cursive;
    font-weight: 700;
    font-size: 44px;
    color: #fff
}

.text-desc {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 24px;
}

.desc-text-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    margin-top: 0;
}

.desc-img-grid {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 0;
    flex-direction: row;
}

.desc-img {
    height: 300px;
    width: auto;
    object-fit: cover;
}